.upload__box {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}

.upload__btn {
    margin: 0;
    cursor: pointer;
}

.upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #00548F;
    text-align: center;
    min-width: 160px;
    padding: 5px;
    transition: all .3s ease;
    cursor: pointer;
    border: 1px solid;
    background-color: #fff;
    border-color: #00548F;
    border-radius: 5px;
    line-height: 26px;
    font-size: 14px;
}

.upload__btn:hover {
    background-color: #00548F;
    color: #fff;
    transition: all .3s ease;
}

input.upload__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload__img-box {
    width: 200px;
    padding: 10px 10px 0px 10px;
    /* margin-bottom: 12px; */
}

.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}

.upload__img-close:after {
    content: '\2716';
    font-size: 14px;
    color: white;
}

.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

@media only screen and (max-width: 480px) {
    .upload__btn {
        min-width: 100%;
    }

    .upload__img-wrap {
        justify-content: center;
    }
}
